{% extends "base.html" %}

{% block title %}🌩️ Weather Page{% endblock %}

{% block content %}
  <h2>Welcome to Weather Site</h2>
  <p>Right now, This is only going to be an example of me testing the weather API.</p>
  <p>Here's what i'm doing:</p>
  <ul>
    <li>testing our logic to handle API request</li>
    <li>Parsing that into read-able data</li>
    <li>Showing you don't need a BS in this to do it.</li>
  </ul>
  <h2>The temperature is: {{weather}}F</h2>
  <h2>The wind direction is coming from the {{windDirection}} @ {{windSpeed}}MPH</h2>

{% endblock %}